<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Info</title>
    <link rel="stylesheet" href="profileInfo.css" />
  </head>
  <body>
    <div class="profile__info profile__info-box">
      <img
        class="profile__info-img img-rounded"
        src="../../assets/img/ProfilePhoto.png"
        alt="img"
      />
      <div class="profile__info-details">
        <h2 class="profile__info-name">
          Малика Абдурахимова <br />
          <span>ID: 1326547</span>
        </h2>
      </div>
    </div>
  </body>
</html>
