@import '../../assets/css/variables.css';

.profile__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.profile__info-box {
  border: 1px solid var(--gray-color);
  background: linear-gradient(to right, #f2efee, #fff);
  border-radius: 8px;
  padding: 8px;
}

.profile__info-img {
  border-radius: 6px;
}

.img-rounded {
  border-radius: 50%;
}

.profile__info-name {
  font-size: 16px;
}

.profile__info-name span {
  font-size: 12px;
  font-weight: 300;
  color: var(--placeholder-color);
}
