<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="../../pages/layout/layout.css" />
    <link rel="stylesheet" href="../../components/footer/footer.css" />
    <link rel="stylesheet" href="../../components/breadCrumb/breadCrumb.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="./index.css" />

    <!-- ================== Website Title ================== -->
    <title>Header Component</title>
  </head>

  <body>
    <div class="container">
      <div class="prev-page__header">
        <button class="prev-page__button">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.4448 24L6.66699 16M6.66699 16L14.4448 8M6.66699 16H25.3337"
              stroke="black"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <h1 class="prev-page__title">Создать объявления</h1>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->

    <script></script>
  </body>
</html>
