/* 
table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  background: rgba(0, 0, 0, 0.2);
}

table tr > th {
  text-align: left;
}

table tr > th,
tr > td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  cursor: pointer;
} */

#pagination {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#pages {
  margin: 0 4px;
}

#pages .pagination__button {
  border-radius: 8px;
  background: transparent;
  border: solid #d5d8db 1px;
  color: #63676c;
  cursor: pointer;
  padding: 10px;
  margin: 0 4px;
}

#prev {
  border-radius: 8px;
  background: transparent;
  border: solid #d5d8db 1px;
  color: #63676c;
  padding: 10px;
  cursor: pointer;
}

#next {
  border-radius: 8px;
  background: transparent;
  border: solid #d5d8db 1px;
  color: #63676c;
  padding: 10px;
  cursor: pointer;
}
.pagination__button:hover {
  background: #d5d8db !important;
}

#prev:hover {
  background: #d5d8db !important;
}

#next:hover {
  background: #d5d8db !important;
}

.activeClass {
  background: white !important;
  color: #388ff3 !important;
  border: solid 1px #fff !important;
}
