.pagination {
  display: flex;
  padding: 8px 0px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pagination__button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #63676c;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #d5d8db;
  background-color: transparent;
  text-decoration: none;
}

.pagination__button.active {
  border-radius: 8px;
  border: 1px solid rgba(56, 143, 243, 0.1);
  background: #fff;
  color: #388ff3;
}
.pagination__button:hover{
  cursor: pointer;
  background: #fff;
}
