body {
  font-family: Arial, sans-serif;
}

.pagination {
  display: flex;
  font-family: Roboto, Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pagination-pages__wrapper {
}
.pagination__button {
  text-align: center;
  padding: 10px 14px;
  margin: 0px 4px ;
  border-radius: 8px;
  background-color: transparent;
  color: var(--greys-grey-0, #63676c);
  border: 1px solid var(--greys-grey-3, #d5d8db);
  cursor: pointer;

}

button:hover {
  background-color: #ddd;
}
.active {
  color: #388ff3;
  background-color: white;
  border: white;
}
