<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./pagination.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Pagination Component</title>
  </head>

<body>
  <div id="container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="pagination">
        <button id="prev"> <iconify-icon icon="ooui:next-rtl"></iconify-icon>
        </button>
        <div id="pages"> </div>
        <button id="next"> <iconify-icon icon="ooui:next-ltr"></iconify-icon>
        </button>
    </div>
  
<!-- ================== Javascript Links ================== -->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script src="./pagination.js"></script>
</body>

</html>
