<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Meta content -->
    <meta name="theme-color" content="#fff" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <title>77.uz | Search</title>
     <link rel="icon" type="image/x-icon" href="https://77.uz/favicon.svg" />
    <!-- ================== Google Fonts links ================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Main Stylesheet Included -->
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="main-search.css" />
  </head>

  <body>
    <div class="blocker"></div>
    <!-- Header Section -->
    <header></header>

    <!-- Body Section -->
    <main>
      <!-- MAIN SEARCH -->
      <section class="container">

        <div class="search-wrapper">
          <!-- SEARCH FORM -->
          <form class="main-search-form" >
            <label class="search__label" for="searchNow">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.927 17.0401L20.4001 20.4001M19.2801 11.4401C19.2801 15.77 15.77 19.2801 11.4401 19.2801C7.11019 19.2801 3.6001 15.77 3.6001 11.4401C3.6001 7.11019 7.11019 3.6001 11.4401 3.6001C15.77 3.6001 19.2801 7.11019 19.2801 11.4401Z"
                  stroke="#D5D8DB"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <input
                class="input search__input"
                type="text"
                name="searchNow"
                id="searchNow"
                placeholder="Что вы ищите?"
              />
              <button class="btn main-search-btn" role="">Поиск</button>
            </label>
          </form>
          <div class="search-suggestion" id="search-suggestion">
            <p class="top-txt"></p>
            <ul class="search-suggestion__list"></ul>
          </div>
        </div>
      </section>
    </main>
    <script src="/assets/data/category.js"></script>
    <script src="main-search.js"></script>
  </body>
</html>
