@import url(/components/form/inputs/inputs.css);
@import url(/assets/css/variables.css);
* {
  outline: inherit;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}
body.block {
  overflow-y: hidden;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Category */
.categoty-wrapper {
  text-align: center;
}
.category-title {
  color: #16191d;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  margin-bottom: 8px;
}
.category-description {
  color: #8e9297;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.category-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: 20px;
}

.category-group {
  display: flex;
  min-width: 30%;
  flex-shrink: 0;
  padding: 0 0 0 20px;
  flex-direction: column;
}

.category-group.active .category-menu {
  display: flex;
}

.category-group.active .category-card {
  border-color: #388ff3;
}

.category-group.active .category-icon {
  background-color: #388ff3;
  /* color: #388FF3; */
}

.category-group.active .category-icon path {
  fill: #fff;
  stroke: #fff;
}

.category-card.active .category-revealer {
  transform: rotate(90deg);
  stroke: #388ff3;
}

.category-group .category-card {
  display: flex;
  padding: 22px 10px 22px 44px;
  border-radius: 12px;
  border: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.02);
  text-decoration: none;
  gap: 20px 40px;
}
.category-card__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.category-card .category-icon {
  display: block;
  /* padding: 16px; */
  position: absolute;
  transform: translate(-117%, -16%);
  padding: 15px;
  cursor: pointer;
  border: 1px solid #eaedf0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}
.category-icon path {
  stroke: #388ff3;
  fill: #388ff3;
}
.category-card:hover,
.category-group:hover .category-icon {
  border: 1px solid #388ff3;
  /* background: #FFF; */
  border-radius: 12px;
}

.category-card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 22px 66px 22px 44px; */
  cursor: pointer;
}
.category-card .category-name {
  overflow: hidden;
  color: #16191d;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.category-card .adds-amount {
  color: #8e9297;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
.category-revealer {
  transition: all 0.3s ease;
  stroke: #b8bbbd;
}
.category-menu {
  position: absolute;
  width: 100%;
  padding: 24px 27px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
  justify-content: flex-start;
  align-items: baseline;
  left: 0;
  z-index: 10;
  border: 1px solid #eaedf0;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.02);
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.02));
}

.category-menu__item {
  display: flex;
  width: 30%;
  padding: 5px;
  text-align: left;
}

.category-menu__title {
  color: var(--black-color, #16191d);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
  margin-right: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}

.category-menu__title i {
  color: #b8bbbd;
}

.category-menu__title:hover,
.category-menu__title:hover i {
  color: var(--primary-color);
  margin-right: 0;
}

.category-links {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 27px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid var(--gray-color, #eaedf0);
}
.category-links__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 20px;
  column-gap: 24px;
}
.category-links.active {
  display: block;
}
.category-links__item:hover {
  color: var(--primary-color);
}

.category-links__item {
  display: none;
  color: var(--black-color);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}

.category-links.active .category-links__item {
  display: block;
}

.category-links.active .icon-inner {
  display: inline-block;
}

.right-icon {
  width: 5px;
  height: 5px;
  display: inline;
  z-index: 100;
}

.dropdown-menu__back-title {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.dropdown-menu__back {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--black-color, #16191d);
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
  transition: 0.2s ease-in-out;
}

.dropdown-menu__back:hover {
  cursor: pointer;
}

.dropdown-menu__back:hover {
  stroke: var(--primary-color);
  color: #388ff3;
}

@media only screen and (max-width: 1000px) {
  .btn-search {
    display: block;
    padding: 11px 28px;
    flex-shrink: 0;
    border: none;
    border-radius: 6px;
    background: #16191d;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    cursor: pointer;
  }
  .category-wrapper {
    margin-top: 20px;
  }

  .category-group {
    min-width: 45%;
  }

  .category-card {
    row-gap: 12px;
  }
  .category {
    margin-top: 32px;
  }
  .category .category__name {
    max-width: 99%;
    width: 100%;
    padding-right: 10px;
    margin: 0;
    color: #16191d;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }
}

@media only screen and (max-width: 450px) {
   /* MAIN SEARCH */
   .main-search {
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      z-index: 505;
   }
   .search__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid #eaedf0;
      background: #fff;
      padding: 8px;
      cursor: pointer;
      max-width: 345px;
      width: 100%;
   }
   .search__label svg {
      display: iblock;
      align-self: center;
      max-width: 10%;
      width: 24px;
      height: 24px;
      padding: 10px inherit;
   }
   .search__input {
      display: block;
      align-self: stretch;
      border: none;
      border-radius: 8px;
      background: #fff;
      max-width: 190px;
      width: 100%;
      color: #16191d;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
   }
   /* .input::placeholder {
      color: #b8bbbd;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
   } */
   /* .search__input:focus body {
      overflow-y: hidden;
   }
   .search__input:focus .blocker.active {
      display: block;
   } */
   .btn {
      display: block;
      padding: 11px 28px;
      flex-shrink: 0;
      border: none;
      border-radius: 6px;
      background: #16191d;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 130%;
      cursor: pointer;
   }
   .category-wrapper {
      margin-top: 20px;
      padding: 32px 16px 32px 32px;
      max-width: 345px;
      width: 100%;
   }
   .category-card {
      row-gap: 12px;
   }
   .category .category__name {
      max-width: 99%;
      width: 100%;
      padding-right: 10px;
      margin: 0px;
      color: #16191d;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
   }
.active.category-icon svg path{
  fill: #fff;
  stroke: #fff;
  background-color: #388FF3;
}

.active.category-icon{
  background-color: #388FF3;
}

.category-revealer path{
  stroke: #B8BBBD;
}

.active.category-card .category-revealer{
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.active.category-card .category-revealer path{
  stroke: #388FF3;
}
