<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Meta content -->
    <meta name="theme-color" content="#fff" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <title>77.uz | Main</title>
    <!-- ================== Google Fonts links ================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Main Stylesheet Included -->
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="category.css" />
  </head>

  <body>
    <div class="blocker"></div>
    <!-- Header Section -->
    <header></header>

    <!-- Body Section -->
    <main>
      <!-- MAIN SEARCH -->
      <section class="container">
        <!-- Category  -->
        <div class="category-body">
          <h1 class="category-title">Категории</h1>
          <p class="category-description">
            Вы можете найти все категории, которые вам нужны от покупателя
          </p>
          <ul class="category-list" id="category-list">
            <!-- RENDERING JSON -->
          </ul>
        </div>
      </section>
    </main>

    <!-- Footer Section -->
    <footer></footer>

    <!-- Custom Js Included -->
    <script src="/assets/data/category.js"></script>
    <script src="categoryList.js"></script>
  </body>
</html>
