<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- ================== Google Fonts links ================== -->

  <!-- ================== Css links ================== -->

  <link rel="stylesheet" href="image-uploader.css" />
  <link rel="stylesheet" href="./image-uploader.css" />
  <link rel="stylesheet" href="../../assets/css/variables.css" />
  <link rel="stylesheet" href="../../assets/css/normalize.css" />

  <!-- ================== Website Title ================== -->
  <title>Document</title>
</head>

<body>
  <div id="container" class="container">
    <div id="dropbox" class="dropbox">
      <div class="dropbox__float">
        <img src="../../assets/img/drop-image.svg" />
        <p class="dropbox__float-title">Перетащите изображение</p>
      </div>
    </div>
  </div>
  <!-- ================== Javascript Links ================== -->
  <script src="image-uploader.js"></script>
</body>

</html>
