.main {
  flex-grow: 1;
  padding-top: 32px;
}

.row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.bread-crumb {
  margin-top: 100px;
}
.filter {
  flex-basis: 25%;
  background: white;
  border-radius: 12px;
  height: auto;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
}

.filter:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: brown !important;
  background-color: antiquewhite !important;
  font-weight: bold !important;
}

.filter__title {
  color: #16191d;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  padding-bottom: 16px;
}

.filter-tools__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
.filter-sub__title {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #63676c;
  padding-bottom: 8px;
}
.filter_icon {
  display: none;
}

.filter-btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px) !important;
  margin-top: 30px !important;
}

.filter-btn__wrapper {
  margin-top: 70px;
}

.product-list {
  flex-basis: calc(75% - 30px);
}
.product-list__title {
  color: #16191d;
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  padding: 10px 0 38px 0;
}

.product-list__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 20px;
}

.product-list__count {
  color: #8e9297;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
}

.product-list__switcher {
  display: flex;
  gap: 10px;
  font-size: 28px;
  color: #d5d8db;
}

.product-list__switcher iconify-icon:active {
  color: #388ff3;
}

.active,
.product-list__view-icon:hover {
  color: #388ff3;
  cursor: pointer;
}

.grid-view__row {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 24px 24px;
}
.list-view__row {
  /* display: flex; */
  gap: 24px 24px;
}

.list-view__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-view__card {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: white;
}

.list-view__card {
  border-radius: 12px;
  display: flex;
  gap: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: white;
  width: 100%;
}

.grid-view__card-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.list-view__card-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.grid-view__card-image {
  width: 100%;
  height: 100%;
}
.list-view__card-symbols {
  display: flex;
  flex: 1;
}
.list-view__card-image {
  max-width: 200px;
  height: auto;
}

.grid-view__card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list-view__card-content {
  padding: 12px 12px 12px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.list-view__bottom-content {
  display: flex;
  flex-direction: column;
}

.list-view__bottom-content div {
  display: flex;
  justify-content: space-between;
}

.badge {
  background: var(--gray-color);
  color: #63676c;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 10px 0 0 0;
}
.grid-view__card-title {
  color: #16191d;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  margin: 16px 0 0 0;
}
.grid-view__card-title:hover {
  color: blue;
}
.list-view__card-title {
  color: #16191d;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  margin: 10px 0 0 0;
}
.list-view__card-title:hover {
  color: blue;
}

.grid-view__card-date {
  color: #8e9297;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  margin: 8px 0;
}
.list-view__card-date {
  color: #8e9297;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  /* margin: 8px 0; */
}

.grid-view__card-number {
  color: #8e9297;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
}

.list-view__card-number {
  color: #8e9297;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
}
.grid-view__card-price {
  color: #16191d;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  margin: 16px 0 0 0;
}
.list-view__card-price {
  color: #16191d;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  /* margin: 50px 0 0 0; */
}

.grid-view__card-price span {
  color: #388ff3;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
}

.list-view__card-price span {
  color: #388ff3;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
}

.footer {
  margin-top: 72px;
}

@media (min-width: 569px) and (max-width: 720px) {
  .row {
    display: unset;
  }
}

@media screen and (max-width: 568px) {
  .row {
    display: unset;
  }
  .grid-view__row {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 20px 20px;
  }
  .grid-view__card-icon {
    font-size: 24px;
  }
  .filter {
    width: 100%;
    display: none;
  }
  .filter_icon {
    display: block;
  }
  .grid-view__card-content {
    padding: 8px;
  }
  .badge {
    font-size: 10px;
  }
  .grid-view__card-title {
    font-size: 14px;
    margin: 8px 0 0 0;
  }
  .grid-view__card-date {
    font-size: 10px;
    margin: 4px 0;
  }

  .grid-view__card-number {
    font-size: 12px;
  }

  .grid-view__card-price {
    font-size: 16px;
    margin: 8px 0 0 0;
  }

  .grid-view__card-price span {
    font-size: 12px;
  }
  .list-view__bottom-content div {
    flex-direction: column;
  }
  .product-list__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin-top: 60px;
  }
  .list-view__card-image {
    height: 100%;
    flex: 1;
    object-fit: cover;
  }
  .list-view__card {
    gap: 8px;
  }
  .list-view__top-content {
    display: flex;
    flex-direction: column;
  }
  .list-view__card-content {
    gap: 8px;
  }
}
