<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link for icons if you want to other kind of icon library do not forgot link here and delete this one  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./buttons.css" />
    <link rel="stylesheet" href="../../assets/css/variabfles.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Buttons Component</title>
  </head>

  <body>
    <div class="container">
      <div class="btn-wrapper">
        <!-- oddiy button -->
        <button class="btn">default</button>
        <!-- secondary button -->
        <button class="btn btn-secondary">secondary</button>
        <!--  button outline -->
        <button class="btn btn-outline">outline</button>
        <!--  button danger -->
        <button class="btn btn-danger">danger</button>
        <!-- button danger light -->
        <button class="btn btn-light-danger">danger light</button>
        <!-- light primary button -->
        <button class="btn btn-light-primary">light primary</button>
        <!--  button disabled -->
        <button class="btn btn-secondary btn-disabled" disabled>
          disabled
        </button>
        <!--  button  with icon -->
        <button class="btn btn-secondary">
          secondary with icon <i class="btn__icon fa fa-sign-in"></i>
        </button>
        <!-- other icon with button -->
        <button class="btn btn-primary">
          <i class="btn__icon fa fa-sign-in"></i> primary with icon
        </button>
        <!-- light primary button with icon -->
        <button class="btn btn-light-primary">
          light primary with icon <i class="btn__icon fa fa-sign-in"></i>
        </button>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./buttons.js"></script>
  </body>
  <!-- ================== Javascript Links ================== -->
</html>
