*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* --- color variables --- */
  --primary-color: #388ff3;
  --secondary-color: #eaedf0;
  --text-primary-color: #151515;
  --black-color: #16191d;
  --gray-color: #eaedf0;
  --text-selection-color: #b3d4fc;
  --placeholder-color: #63676c;
  --input-bg-color: #f0f3f7;
}

.btn {
  padding: 9px 24px;
  background-color: var(--primary-color);
  border: var(--primary-color) solid 1px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  cursor: pointer;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  padding: 9px 24px;
  background-color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
  color: #000;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: #000;
}

.btn:hover {
  filter: brightness(95%);
}

.btn:active {
  filter: brightness(100%);
  padding: 8px 23px;
}

@media only screen and (max-width: 500px) {
    .btn {
        width: 100%;
    }
}
