.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-child {
  border-top: 1px solid #eaedf0;
}
.checkbox .default-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox .checkbox__checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  transition: background-color 0.25s ease;
  border: 1px solid #d5d8db;
  border-radius: 7px;
}
.checkbox .checkbox__checkmark:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox .checkbox__body {
  color: #16191d;
  font-size: 14px;

  font-weight: 500;
  cursor: pointer;
  line-height: 130%; /* 18.2px */
}
.checkbox-group.checkbox-disabled
  .checkbox
  .default-checkbox:checked
  ~ .checkbox__checkmark {
  background-color: var(--primary-color);
}
/* .checkbox-group.checkbox-disabled .checkbox__body {
  color: #555;
} */
.checkbox .default-checkbox:checked ~ .checkbox__checkmark {
  background-color: var(--primary-color);
}
.checkbox .default-checkbox:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox .default-checkbox:checked ~ .checkbox .checkbox__checkmark {
  border: 1px solid var(--primary-color);
}
.checkbox:hover .default-checkbox ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox:hover .default-checkbox:checked ~ .checkbox__checkmark {
  background-color: var(--primary-color);
}
