<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Meta content -->
    <meta name="theme-color" content="#fff" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- ================== Favicon link ================== -->

    <link rel="icon" type="image/x-icon" href="https://77.uz/favicon.svg" />

    <title>77.uz | Terms of use</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    />
    <link rel="manifest" href="img/site.webmanifest" />
    <!-- Main Stylesheet Included -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./../../assets/css/normalize.css"
    />
    <link rel="stylesheet" href="./../../assets/css/variables.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="container">
      <div class="checkbox-group checkbox-disabled">
        <label class="checkbox">
          <input
            class="default-checkbox checkbox-disabled"
            type="checkbox"
            id="option-all"
            onchange="checkAll(this)"
          />
          <div class="checkbox__checkmark"></div>
          <p class="checkbox__body">all</p>
        </label>
        <div class="">
          <label class="checkbox checkbox-child">
            <input class="default-checkbox checkbox-disabled" type="checkbox" />
            <div class="checkbox__checkmark"></div>
            <p class="checkbox__body">example-title</p>
          </label>
          <label class="checkbox checkbox-child">
            <input class="default-checkbox checkbox-disabled" type="checkbox" />
            <div class="checkbox__checkmark"></div>
            <p class="checkbox__body">example-title</p>
          </label>
        </div>
      </div>
    </div>
    <script src="./checkbox.js"></script>
  </body>
</html>
