/* global styles */

body {
  background-color: LavenderBlush;
  color: Teal;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* grid styles */

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.col {
  background-color: lightgreen;
  color: white;
  border: LavenderBlush 2px solid;
  border-radius: 8px;
  padding: 16px;
}

.col-1 {
  width: 7.18%;
}
.col-2 {
  width: 15.62%;
}
.col-3 {
  width: 24.06%;
}
.col-4 {
  width: 32.5%;
}
.col-5 {
  width: 40.94%;
}
.col-6 {
  width: 49.37%;
}
.col-7 {
  width: 57.79%;
}
.col-8 {
  width: 66.25%;
}
.col-9 {
  width: 74.691%;
}
.col-10 {
  width: 83.13%;
}
.col-11 {
  width: 91.57%;
}
.col-12 {
  width: 100%;
}
/* and so on up to 12 … */

.col-xl-1 {
  width: 7.1%;
}
.col-xl-2 {
  width: 15.62%;
}
.col-xl-3 {
  width: 24.06%;
}
.col-xl-4 {
  width: 32.5%;
}
.col-xl-5 {
  width: 40.94%;
}
.col-xl-6 {
  width: 49.37%;
}
.col-xl-7 {
  width: 57.79%;
}
.col-xl-8 {
  width: 66.25%;
}
.col-xl-9 {
  width: 74.691%;
}
.col-xl-10 {
  width: 83.13%;
}
.col-xl-11 {
  width: 91.57%;
}
.col-xl-12 {
  width: 100%;
}


.col-lg-1 {
  width: 7.1%;
}
.col-lg-2 {
  width: 15.62%;
}
.col-lg-3 {
  width: 24.06%;
}
.col-lg-4 {
  width: 32.5%;
}
.col-lg-5 {
  width: 40.94%;
}
.col-lg-6 {
  width: 49.37%;
}
.col-lg-7 {
  width: 57.79%;
}
.col-lg-8 {
  width: 66.25%;
}
.col-lg-9 {
  width: 74.691%;
}
.col-lg-10 {
  width: 83.13%;
}
.col-lg-11 {
  width: 91.57%;
}
.col-lg-12 {
  width: 100%;
}

.col-md-1 {
  width: 2%;
}
.col-md-2 {
  width: 15.039%;
}
.col-md-3 {
  width: 23.53%;
}
.col-md-4 {
  width: 32.03%;
}
.col-md-5 {
  width: 40.5%;
}
.col-md-6 {
  width: 49.02%;
}
.col-md-7 {
  width: 57.49%;
}
.col-md-8 {
  width: 66%;
}
.col-md-9 {
  width: 74.491%;
}
.col-md-10 {
  width: 83%;
}
.col-md-11 {
  width: 91.498%;
}
.col-md-12 {
  width: 100%;
}

@media (min-width: 993px) and (max-width: 1800px){
  .container {
    width: 993px;
    margin: auto;
    background: pink;
  }
  .col-xl-1 {
    width: 6.949% !important;
  }
  .col-xl-2 {
    width: 15.409%;
  }
  .col-xl-3 {
    width: 23.868%;
  }
  .col-xl-4 {
    width: 32.327%;
  }
  .col-xl-5 {
    width: 40.786%;
  }
  .col-xl-6 {
    width: 49.24%;
  }
  .col-xl-7 {
    width: 57.69%;
  }
  .col-xl-8 {
    width: 66.15%;
  }
  .col-xl-9 {
    width: 74.591%;
  }
  .col-xl-10 {
    width: 83.06%;
  }
  .col-xl-11 {
    width: 91.498%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .container {
    width: 769px;
    margin: auto;
    background: blue;
  }
  .col-lg-1 {
    width: 6.545%;
  }
  .col-lg-2 {
    width: 15.039%;
  }
  .col-lg-3 {
    width: 23.53%;
  }
  .col-lg-4 {
    width: 32.03%;
  }
  .col-lg-5 {
    width: 40.5%;
  }
  .col-lg-6 {
    width: 49.02%;
  }
  .col-lg-7 {
    width: 57.49%;
  }
  .col-lg-8 {
    width: 66%;
  }
  .col-lg-9 {
    width: 74.491%;
  }
  .col-lg-10 {
    width: 83%;
  }
  .col-lg-11 {
    width: 91.498%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .container {
    width: 577px;
    margin: auto;
    background: yellow;
  }
  .col-md-1 {
    width: 1% !important;
  }
  .col-md-2 {
    width: 15.039%;
  }
  .col-md-3 {
    width: 23.53%;
  }
  .col-md-4 {
    width: 32.03%;
  }
  .col-md-5 {
    width: 40.5%;
  }
  .col-md-6 {
    width: 49.02%;
  }
  .col-md-7 {
    width: 57.49%;
  }
  .col-md-8 {
    width: 66%;
  }
  .col-md-9 {
    width: 74.491%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-11 {
    width: 91.498%;
  }
  .col-md-12 {
    width: 100%;
  }
}
