.personal-wrapper{
  padding: 16px;
  border-radius: 12px;
  background: #fff;
}

.personal__info{
  margin-bottom: 16px;
  display: flex;
  padding: 16px;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  background: #FFF;
}

.personal__img{
  width: 54px;
  height: 54px;
  border-radius: 80px;
  border: 1px solid #FFF;
  backdrop-filter: blur(80px);
}

.personal__name{
  max-width: 148px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%
}

.p-info-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  margin-bottom: 16px;
  border-top: 1px solid var(--gray-color) ;
  border-bottom: 1px solid var(--gray-color) ;
  /* padding:0 ; */
}

.p-info-list__item{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  background: var(--input-bg-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.p-info-list__item:active{
  background-color: #FFF;
  border: 1px solid rgba(17, 124, 245, 0.10);
  background: var(--White, #FFF);
  box-shadow: 0px 0px 24px 0px #117CF51A;
}

.p-info-list__item:active .p-info-list__item-icon{
  color: var(--primary-color);
}

.p-info-list__item-title{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  
}


.btn {
  width: 100%;
  padding: 10px 24px;
  background-color: var(--primary-color);
  border: var(--primary-color) solid 1px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  filter: brightness(95%);
}

.btn:active {
  filter: brightness(100%);
  transform: scale(0.9);
}

.btn-secondary {
  background-color: var(--gray-color);
  border: var(--gray-color) solid 1px;
  color: #000;
}

.btn-secondary:hover {
  background-color: var(--gray-color);
  color: #000;
}


.btn__icon {
  padding: 0 10px;
  font-size: 20px;
}

