<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Slider Component</title>
    <link rel="stylesheet" href="slider.css" />
    <script src="slider.js" defer></script>
  </head>
  <body>
    <main class="container">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__container" id="sliderContainer"></div>
          <button class="slider__btn prev-btn" onclick="changeSlide(-1)">
            ❮
          </button>
          <button class="slider__btn next-btn" onclick="changeSlide(1)">
            ❯
          </button>
        </div>

        <div class="slider__card-container" id="cardContainer"></div>
      </div>
    </main>
  </body>
</html>
