<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider Component</title>
    <link rel="stylesheet" href="slider.css" />
    <script src="slider.js" defer></script>
  </head>
  <body>
    <div class="slider__wrapper">
      <div class="slider">
        <div class="slider__container">
          <div class="slider__item">
            <img
              class="slider__item-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
          <div class="slider__item">
            <img
              class="slider__item-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
          <div class="slider__item">
            <img
              class="slider__item-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
          <div class="slider__item">
            <img
              class="slider__item-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
        </div>
        <button class="slider__btn slider__prev" onclick="prevSlide()">
          ❮
        </button>
        <button class="slider__btn slider__next" onclick="nextSlide()">
          ❯
        </button>
      </div>

      <div class="slider__card-container">
        <div class="slider__card" onclick="showSlide(0)">
          <div class="slider__card-content">
            <img
              class="slider__card-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
        </div>
        <div class="slider__card" onclick="showSlide(1)">
          <div class="slider__card-content">
            <img
              class="slider__card-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
        </div>
        <div class="slider__card" onclick="showSlide(2)">
          <div class="slider__card-content">
            <img
              class="slider__card-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
        </div>
        <div class="slider__card" onclick="showSlide(3)">
          <div class="slider__card-content">
            <img
              class="slider__card-img"
              src="../../assets/img/SliderImg1.png"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
