@import '../../assets/css/variables.css';

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.slider__container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__item {
  border-radius: 16px;
  flex: 0 0 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

.slider__item-img {
  width: 100%;
  height: 100%;
}

.navigation-card {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.navigation-card::-webkit-scrollbar {
  width: 8px;
}

.navigation-card::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.navigation-card::-webkit-scrollbar-track {
  background-color: transparent;
}

.navigation-wrapper {
  width: 110px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.navigation-wrapper__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-wrapper__img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.navigation-wrapper.active .navigation-wrapper__content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 0px 4px var(--primary-color);
  border-radius: 6px;
}

.slider__wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: gray;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.slider__wrapper button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media only screen and (max-width: 767px) {
  .slider__wrapper button {
    display: none;
  }

  .navigation-wrapper {
    width: 90px;
  }
}
