<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./breadCrumb.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Bread-Crumb Component</title>
  </head>

  <body>
    <div class="container">
      <ul class="bread-crumb">
        <li class="bread-crumb__item">
          <a href="" class="bread-crumb__link">Главная</a>
        </li>
        <li class="bread-crumb__item">
          <a href="" class="bread-crumb__link">Электроника</a>
        </li>
        <li class="bread-crumb__item item-active">
          <a href="" class="bread-crumb__link">Фены</a>
        </li>
        <li class="bread-crumb__item">
          <a href="" class="bread-crumb__link active">457 147</a>
        </li>
      </ul>
    </div>

    <!-- ================== Javascript Links ================== -->
  </body>
</html>
