<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Info</title>
    <link rel="stylesheet" href="ProductInfo.css" />
  </head>
  <body>
    <main class="container">
      <div class="product-info">
        <h2 class="product-info__title">Описание</h2>
        <p class="product-info__description">
          Мультистайлер Dyson Airwrap Complete Long в цветe Vinca blue и Rose
          Бесплатная доставка по ТАШКЕНТУ!!! 100% оригинал С новыми цилиндрами
          для завивки и волнения в обоих направлениях, щетками для контроля и
          придания формы, а также многофункциональной сушилкой для разглаживания
          Coanda для сушки,разглаживания и сокрытия разлетающихся волос 3 В
          комплектацию входят 30-мм цилиндрические насадки Airwrap для завивки,
          40-мм цилиндрические насадки Airwrap для завивки Круглая щетка для
          создания объема, Мягкая щетка для выпрямления, Жесткая щетка для
          выпрямление Особенности фена В комплекте Чехол для хранения
          Термостойкий коврик Щетка для очистки Для длинных до груди или более
          длинных волос. Пoдxoдит для разных типoв вoлoc. Сoздaние лoконoв и
          волн. Pазглаживaниe. Высушивaние вoлос. Без экстpeмальныx тeмперaтур.
          В последней версии 2022 Года появились новые насадки, такие как: -
          обновлённый цилиндр для завивки, предусматривающий поток воздуха в
          двух направлениях, то есть больше не нужно переставлять насадки. По
          вопросам пишите в телеграм на номер
        </p>
      </div>
    </main>
  </body>
</html>
