<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./assets/styles/style.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="languageSwitcher.css" />

    <!-- ================== Website Title ================== -->
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <li id="language-switcher" class="navbar-list__item">
        <button class="language-button text-sm-subtitle">
          <img
            width="20"
            height="20"
            src="https://77.uz/images/flag/ru.svg"
            alt=""
          />
          <span>Русский</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.8 9.5999L12 14.3999L7.19999 9.5999"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="language-content">
          <ul class="language-content__list">
            <li class="language-content__item active">
              <img
                width="20"
                height="20"
                src="https://77.uz/images/flag/ru.svg"
                alt=""
              />
              <span>RU</span>
            </li>

            <li class="language-content__item">
              <img
                width="20"
                height="20"
                src="https://77.uz/images/flag/uz.svg"
                alt=""
              />
              <span>UZ</span>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <!-- ================== Javascript Links ================== -->
    <script src="./languageSwitcher.js"></script>
  </body>
</html>
