@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?gg8ddp');
  src:
    url('../fonts//icomoon.eot?gg8ddp#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?gg8ddp') format('truetype'),
    url('../fonts/icons/icomoon.woff?gg8ddp') format('woff'),
    url('../fonts/icons/icomoon.svg?gg8ddp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-equals-outline:before {
  content: '\e912';
}
.icon-add:before {
  content: '\e90e';
}
.icon-filter_list:before {
  content: '\e905';
}
.icon-chevrons-down:before {
  content: '\e913';
}
.icon-x:before {
  content: '\e90f';
}
.icon-search:before {
  content: '\e910';
}
.icon-log-in:before {
  content: '\e906';
}
.icon-phone-call:before {
  content: '\e907';
}
.icon-phone:before {
  content: '\e908';
}
.icon-grid:before {
  content: '\e909';
}
.icon-eye-off:before {
  content: '\e90a';
}
.icon-heart:before {
  content: '\e904';
}
.icon-photo:before {
  content: '\e911';
}
.icon-location:before {
  content: '\e90c';
}
.icon-user-circle:before {
  content: '\e90d';
}
.icon-cloud-download:before {
  content: '\e90b';
}
.icon-cheveron-up:before {
  content: '\e900';
}
.icon-cheveron-right:before {
  content: '\e901';
}
.icon-cheveron-left:before {
  content: '\e902';
}
.icon-cheveron-down:before {
  content: '\e903';
}