* {
  outline: inherit;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search__label {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #eaedf0;
  background: #fff;
  padding: 20px 0px 20px 20px;
}
.search__label svg {
  display: block;
  align-self: center;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.search__input {
  display: block;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 20px 420px 20px 0px;
}
.input::placeholder {
  color: #b8bbbd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.btn {
  display: block;
  padding: 11px 28px 12px 28px;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  background: #16191d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  cursor: pointer;
}
.search__btn {
  margin-right: 10px;
}
/* Category */
.categoty-wrapper {
  text-align: center;
  padding: 0 40px;
}
.category-title {
  color: #16191d;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  margin-bottom: 8px;
}
.category-description {
  color: #8e9297;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px;
  padding: 40px 30px;
}
.category-card {
  display: block;
  display: flex;
  padding: 22px 10px 22px 44px;
  border-radius: 12px;
  border: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.02);
  text-decoration: none;
  position: relative;
  gap: 20px 40px;
}

.category-card .category-icon {
  display: block;
  /* padding: 16px; */
  position: absolute;
  transform: translate(-117%, -16%);
  padding: 15px;
  cursor: pointer;
  border: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.category-card:hover,
.category-card:hover .category-icon {
  border: 1px solid #388ff3;
  background: #fff;
  border-radius: 12px;
}
.category-card:active .category-icon,
.category-card:active .category-icon path {
  background-color: #388ff3;
  /* stroke: #fff; */
  fill: #fff;
}
.category-card__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
body.block {
  overflow-y: hidden;
}
.main-modal {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.main {
  width: 100%;
  flex: 1;
}
.main.category {
  margin-top: 156px;
}
.country-code {
  font-size: 14px;
}
.category-section {
  padding-bottom: 36px;
  background-color: white;
}
.search {
  width: 100%;
  position: sticky;
  z-index: 1999;
}
.search__label {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  padding: 8px;
  width: 100%;
  max-width: 580px;
  margin: auto;
  border: 1px solid #eaedf0;
  background: #fff;
}
.blocker {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #16191d;
  z-index: 1200;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.blocker.active {
  display: block;
  opacity: 0.36;
}
.search__label svg {
  display: block;
  align-self: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  flex-grow: 1;
  flex-shrink: 0;
}
.search__input {
  border: none;
  font-size: 16px;
  font-family: Inter;
  padding: 13px 0;
  height: 100%;
  outline: none;
  background: #fff;
  width: 100%;
}
.search__input:focus body {
  overflow-y: hidden;
}
.search__input:focus .blocker.active {
  display: block;
}
.input::placeholder {
  color: #b8bbbd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* Category */
.categoty-wrapper {
  text-align: center;
}
.category-title {
  color: #16191d;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  margin-bottom: 8px;
}
.category-description {
  color: #8e9297;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.category-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
  row-gap: 20px;
  column-gap: 40px;
}
.category-group {
  display: flex;
  padding: 0 0 0 20px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.category-group .category-card {
  height: 100%;
  display: flex;
  padding: 22px 10px 22px 44px;
  flex: 1;

  border-radius: 12px;
  border: 1px solid #eaedf0;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.02);
  text-decoration: none;
  gap: 4px;
  gap: 20px 40px;
  display: flex;
  /* flex-direction: column; */
}
.category-card__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.category-card .category-icon {
  display: block;
  /* padding: 16px; */
  position: absolute;
  transform: translate(-117%, -16%);
  padding: 15px;
  cursor: pointer;
  border: 1px solid #eaedf0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.category-icon path {
  stroke: #388ff3;
  fill: #388ff3;
}
.category-card:hover,
.category-group:hover .category-icon {
  border: 1px solid #388ff3;
  /* background: #FFF; */
  border-radius: 12px;
}

.category-card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 22px 66px 22px 44px; */
  cursor: pointer;
}
.category-card .category-name {
  margin: 0;
  padding-right: 100px;
  overflow: hidden;
  color: #16191d;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.category-card .adds-amount {
  display: block;
  overflow: hidden;
  color: #8e9297;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
/* .category-revealer{ */
/* display: block;
  position: absolute;
  transform: translate(750%, 10%);
} */
.category-revealer {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.category-menu {
  position: absolute;
  width: 100%;
  padding: 24px 27px;
  border-radius: 0 12px;
  display: none;
  left: 0;
  grid-area: 1/-1;
  background-color: white;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.02));
  border: 1px solid #eaedf0;
  z-index: 888;
  top: calc(100% + 20px);
  border-radius: 12px;
  border: 1px solid var(--greys-grey-4, #eaedf0);
  background: var(--White, #fff);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.02);
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.02));
}
.category-menu.active {
  display: grid;
}

.category-menu__item {
  cursor: pointer;
  margin-top: 10px;
  text-align: left;
}
.category-menu__item:first-child {
  margin-top: 0;
}
.right-icon {
  /* width: 5px; */
  /* height: 5px; */
  /* display: inline; */
  /* z-index:; */
}

.category-group {
  list-style: none;
  position: relative;
  width: 100%;
  gap: 20px;
  cursor: pointer;
}

.category-group.active .category-menu {
  display: block;
}

.category-group.active .category-card {
  border-color: #388ff3;
}

.category-group.active .category-icon {
  background-color: #388ff3;
  /* color: #388FF3; */
}

.category-group.active .category-icon path {
  fill: #fff;
  stroke: #fff;
}

.category-group.active .category-revealer {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.dropdown-menu__back-title {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.dropdown-menu__back {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--Black, #16191d);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
  transition: 0.2s ease-in-out;
}
.dropdown-menu__back:hover {
  cursor: pointer;
}
.dropdown-menu__back:hover {
  stroke: var(--primary-color);
  color: #388ff3;
}
.category-menu__title {
  color: var(--Black, #16191d);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}
.category-menu__title:hover {
  color: var(--primary-color);
}
.category-menu.active {
  font-size: 20px;
  font-weight: 700;
}
.category-links {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 27px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid var(--greys-grey-4, #eaedf0);
}
.category-links__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 20px;
  column-gap: 24px;
}
.category-links.active {
  display: block;
}
.category-links__item:hover {
  color: var(--primary-color);
}

.category-links__item {
  display: none;
  color: var(--black-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}

.category-links.active .category-links__item {
  display: block;
}

.category-links.active .icon-inner {
  display: inline-block;
}
.ads-wrapper__list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.address-image {
  padding-top: 8px;
}
.footer {
  margin-top: 72px;
}
@media screen and (max-width: 1180px) {
}
@media screen and (max-width: 768px) {
  .category-links__menu,
  .ads-wrapper__list {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Global styles */
.wrapper {
  margin-top: 80px;
  margin-bottom: 60px;
}


/* Utility classes */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-x-center {
    display: flex;
    align-items: center;

}

.flex-y-center {
    display: flex;
    justify-content: center;
}

.py-8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.sidebar {
  flex-basis: 25%;
  flex-shrink: 0;
}

.main {
  flex-basis: calc(75% - 24px);
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .sidebar {
    flex-basis: 100%;
  }

  .main {
    flex-basis: 100%;
  }

}
