@import url(/components/inputs/inputs.css);
@import url(/assets/css/variables.css);
* {
   outline: inherit;
   box-sizing: border-box;
}
html,
body {
   background-color: #fff;
   height: 100%;
   width: 100%;
   max-width: 1400px;
   box-sizing: inherit;
   font-family: "Inter", sans-serif;
}
body.block {
   overflow-y: hidden;
}
.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

