* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #f0f3f7;
}

/* Utility classes */
.wrapper {
  margin-top: 100px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-x-center {
  display: flex;
  align-items: center;
}

.flex-y-center {
  display: flex;
  justify-content: center;
}

.flex-x-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar {
  flex-basis: 25%;
  flex-shrink: 0;
}

.main {
  flex-basis: calc(75% - 24px);
  flex-shrink: 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  border-radius: 16px;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .sidebar {
    flex-basis: 100%;
  }

  .main {
    flex-basis: 100%;
  }
}
