@import url(/components/inputs/inputs.css);
@import url(/assets/css/variables.css);
* {
   outline: inherit;
   box-sizing: border-box;
}
html,
body {
   background-color: #fff;
   height: 100%;
   width: 100%;
   max-width: 1400px;
   box-sizing: inherit;
   font-family: "Inter", sans-serif;
}
body.block {
   overflow-y: hidden;
}
.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

/* MAIN SEARCH */
.main-search {
   margin: 0 auto;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   z-index: 505;
   padding: 20px;
}
.search__label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 8px;
   border: 1px solid #eaedf0;
   background: #fff;
   padding: 8px;
   cursor: pointer;
}
.search__label svg {
   display: iblock;
   align-self: center;
   max-width: 10%;
   width: 24px;
   height: 24px;
   padding: 10px inherit;
}
.search__input {
   display: block;
   align-self: stretch;
   border: none;
   border-radius: 8px;
   background: #fff;
   max-width: 70%;
   width: 100%;
   color: #16191d;
   font-size: 16px;
   font-weight: 500;
   line-height: 130%;
}
.input::placeholder {
   color: #b8bbbd;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
}
.search__input:focus body {
   overflow-y: hidden;
}
.search__input:focus .blocker.active {
   display: block;
}
.btn {
   display: block;
   padding: 11px 28px;
   flex-shrink: 0;
   border: none;
   border-radius: 6px;
   background: #16191d;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   line-height: 130%;
   cursor: pointer;
   max-width: 30%;
   width: 100%;
}
.btn:hover {
   opacity: 0.8;
}
.btn:active {
   opacity: 0.9;
}

/* Blocker */
.blocker {
   position: absolute;
   display: none;
   height: 100vh;
   top: 0;
   right: 0;
   background-color: #16191d;
   z-index: 505;
   opacity: 0;
   transition: all 0.2s ease-in-out;
   width: 100vw;
}
.blocker.active {
   display: block;
   opacity: 0.56;
}

@media only screen and (max-width: 1000px) {
   /* MAIN SEARCH */
   .main-search {
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      z-index: 505;
      padding: 20px;
   }
   .search__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid #eaedf0;
      background: #fff;
      padding: 8px;
      cursor: pointer;
   }
   .search__label svg {
      display: iblock;
      align-self: center;
      max-width: 10%;
      width: 24px;
      height: 24px;
      padding: 10px inherit;
   }
   .search__input {
      display: block;
      align-self: stretch;
      border: none;
      border-radius: 8px;
      background: #fff;
      max-width: 70%;
      width: 100%;
      color: #16191d;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
   }
   .input::placeholder {
      color: #b8bbbd;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
   }
   .search__input:focus body {
      overflow-y: hidden;
   }
   .search__input:focus .blocker.active {
      display: block;
   }
   .btn {
      display: block;
      padding: 11px 28px;
      flex-shrink: 0;
      border: none;
      border-radius: 6px;
      background: #16191d;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 130%;
      cursor: pointer;
      max-width: 30%;
      width: 100%;
   }
}

@media only screen and (max-width: 450px) {
   /* MAIN SEARCH */
   .main-search {
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      z-index: 505;
      padding: 20px;
   }
   .search__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid #eaedf0;
      background: #fff;
      padding: 8px;
      cursor: pointer;
   }
   .search__label svg {
      display: iblock;
      align-self: center;
      max-width: 10%;
      width: 24px;
      height: 24px;
      padding: 10px inherit;
   }
   .search__input {
      display: block;
      align-self: stretch;
      border: none;
      border-radius: 8px;
      background: #fff;
      max-width: 70%;
      width: 100%;
      color: #16191d;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
   }
   .input::placeholder {
      color: #b8bbbd;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
   }
   .search__input:focus body {
      overflow-y: hidden;
   }
   .search__input:focus .blocker.active {
      display: block;
   }
   .btn {
      display: block;
      padding: 11px 28px;
      flex-shrink: 0;
      border: none;
      border-radius: 6px;
      background: #16191d;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 130%;
      cursor: pointer;
      max-width: 30%;
      width: 100%;
   }
}
