.favorites {
  padding: 30px 0px 24px 0px;
  color: #16191d;
  font-size: 32px;
  font-weight: 700;
}
.favorites__list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
..grid-view__card-icon {
  color: red !important;
}

@media screen and (max-width: 768px) {
  .favorites__list {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
