<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Meta content -->
    <meta name="theme-color" content="#fff" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <title>77.uz | Search</title>
    <link rel="icon" type="image/x-icon" href="https://77.uz/favicon.svg" />
    <!-- ================== Google Fonts links ================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Main Stylesheet Included -->
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="mainSearch.css" />
  </head>

  <body>
    <div class="blocker"></div>
    <!-- Header Section -->
    <header></header>
    <!-- Body Section -->
    <main>
      <!-- MAIN SEARCH -->
      <section class="container">
        <div class="search-wrapper">
          <!-- SEARCH FORM -->
          <form class="main-search-form">
            <label class="search__label" for="searchNow">
              <i class="icon-search default"></i>
              <input
                class="input search__input"
                type="text"
                name="searchNow"
                id="searchNow"
                placeholder="Что вы ищите?"
              />
              <button class="btn main-search-btn" role="">Поиск</button>
            </label>
          </form>
          <div class="search-suggestion" id="search-suggestion">
            <p class="top-txt"></p>
            <ul class="search-suggestion__list"></ul>
          </div>
        </div>
      </section>
    </main>
    <a></a>
    <script src="/assets/data/category.js"></script>
    <script src="mainSearch.js"></script>
  </body>
</html>
