<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="./badge.css" />

    <!-- ================== Website Title ================== -->
    <title>Bread-Crumb Component</title>
  </head>

  <body>
    <div class="static-page-container">
      <h1 class="title">Условия пользования</h1>
      <div class="static-page__wrapper"></div>
      <div class="container">
        <span class="badge">title</span>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./breadCrumb.js"></script>
  </body>
</html>
