.footer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 70px;
  background-image: url('../../assets/img/BG\ \(Pattern\).svg');
}
.footer-info {
  padding-top: 63px;
  padding-bottom: 48px;
}
.footer-logo {
  position: absolute;
  width: auto;
  top: -32px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: var(--Main-blue, #388ff3);
  box-shadow: 0px 8px 32px 0px rgba(56, 143, 243, 0.44);
}

.footer-info__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 72px;
  row-gap: 20px;
  padding-top: 24px;
}
.footer-info__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 4px;
  color: var(--black-color);
  font-weight: 600;
  transition: 0.2s ease-in-out;
  line-height: 130%; /* 26px */
}
.footer-info__link img {
  width: 16px;
  height: 16px;
}
.footer-info__link:hover {
  color: var(--primary-color);
}
.development-company {
  border-top: 1px solid var(--gray-color);
  padding: 14px 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(6px);
}
.development-company img {
  flex: 1;
}
.development-company-wrapper {
  display: flex;
  justify-content: space-between;
}
.development-company__text {
  display: flex;
  gap: 6px;
  align-items: center;
}
.development-company__link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s ease-in-out;
}
.development-company__link:hover {
  gap: 14px;
}
.footer-info__text {
  max-width: 669px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 568px) {
  .development-company__link img:nth-child(2) {
    display: none;
  }
  .development-company__text {
    font-size: 13px;
  }
  .footer-info__link {
    font-size: 16px;
  }
  .footer-info__text {
    font-size: 14px;
  }
}
