<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./footer.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Footer Component</title>
  </head>

  <body>
    <footer class="footer">
      <div class="container">
        <!-- Footer Logo -->
        <a class="footer-logo" href="">
          <img width="122" height="64" src="../../assets/img/logo.svg" alt="" />
        </a>
        <!-- Footer Info -->
        <div class="footer-info">
          <p class="footer-info__text subtitle text-center">
            77.uz marketplace - это виртуальная платформа в Узбекистане, которая
            облегчает покупки и продажи, связывая продавцов с потенциальными
            клиентами.
          </p>
          <ul class="footer-info__list">
            <li class="footer-info__item">
              <a href="" class="footer-info__link">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_19_1588)">
                    <path
                      d="M-3.5 -4H15.5V0.562022H15.1219C7.19448 0.773098 0.828572 7.60334 0.827301 15.9975H-3.5C-3.5 10.6965 -1.49636 5.60664 2.06435 1.85648C2.49739 1.4004 2.94932 0.96864 3.41821 0.562022H-3.5V-4Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M0.827301 15.9975V16L0.829688 15.9975H0.827301Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M6.99847 16H2.5C2.5 12.5531 3.97623 9.24578 6.60123 6.80828C9.22623 4.37078 12.788 3 16.5 3V7.17715C11.2527 7.17715 6.99847 11.1275 6.99847 16Z"
                      fill="#388FF3"
                      fill-opacity="0.64"
                    />
                    <path
                      d="M16.5 17H8.5C8.5 14.88 9.34414 12.8437 10.8423 11.3423C12.3405 9.84092 14.38 9 16.5 9V17Z"
                      fill="#388FF3"
                      fill-opacity="0.48"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_19_1588">
                      <rect width="16" height="16" rx="8" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                Доска объявлений
              </a>
            </li>
            <li class="footer-info__item">
              <a href="" class="footer-info__link">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_19_1588)">
                    <path
                      d="M-3.5 -4H15.5V0.562022H15.1219C7.19448 0.773098 0.828572 7.60334 0.827301 15.9975H-3.5C-3.5 10.6965 -1.49636 5.60664 2.06435 1.85648C2.49739 1.4004 2.94932 0.96864 3.41821 0.562022H-3.5V-4Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M0.827301 15.9975V16L0.829688 15.9975H0.827301Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M6.99847 16H2.5C2.5 12.5531 3.97623 9.24578 6.60123 6.80828C9.22623 4.37078 12.788 3 16.5 3V7.17715C11.2527 7.17715 6.99847 11.1275 6.99847 16Z"
                      fill="#388FF3"
                      fill-opacity="0.64"
                    />
                    <path
                      d="M16.5 17H8.5C8.5 14.88 9.34414 12.8437 10.8423 11.3423C12.3405 9.84092 14.38 9 16.5 9V17Z"
                      fill="#388FF3"
                      fill-opacity="0.48"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_19_1588">
                      <rect width="16" height="16" rx="8" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                Условия пользования
              </a>
            </li>
            <li class="footer-info__item">
              <a href="" class="footer-info__link">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_19_1588)">
                    <path
                      d="M-3.5 -4H15.5V0.562022H15.1219C7.19448 0.773098 0.828572 7.60334 0.827301 15.9975H-3.5C-3.5 10.6965 -1.49636 5.60664 2.06435 1.85648C2.49739 1.4004 2.94932 0.96864 3.41821 0.562022H-3.5V-4Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M0.827301 15.9975V16L0.829688 15.9975H0.827301Z"
                      fill="#388FF3"
                    />
                    <path
                      d="M6.99847 16H2.5C2.5 12.5531 3.97623 9.24578 6.60123 6.80828C9.22623 4.37078 12.788 3 16.5 3V7.17715C11.2527 7.17715 6.99847 11.1275 6.99847 16Z"
                      fill="#388FF3"
                      fill-opacity="0.64"
                    />
                    <path
                      d="M16.5 17H8.5C8.5 14.88 9.34414 12.8437 10.8423 11.3423C12.3405 9.84092 14.38 9 16.5 9V17Z"
                      fill="#388FF3"
                      fill-opacity="0.48"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_19_1588">
                      <rect width="16" height="16" rx="8" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                +998 88 500 50 00
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="development-company">
        <div class="development-company-wrapper container">
          <p class="development-company__text copyright">
            <strong>© 77.uz</strong>
            <span> 2023. Все права защищены</span>
          </p>

          <a
            href="https://uic.group/"
            target="_blank"
            class="development-company__link"
          >
            <span>
              <img src="../../assets/img/uic.group.svg" alt="">
            </span>
              <img src="../../assets/img/uic.group.text.svg" alt="">
          </a>
        </div>
      </div>
    </footer>

    <!-- ================== Javascript Links ================== -->
    <script src="./footer.js"></script>
  </body>
</html>
