<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./footer.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../main.css" />

    <!-- ================== Website Title ================== -->
    <title>Footer Component</title>
  </head>

  <body>
    <footer class="footer">
      <div class="container">
        <!-- Footer Logo -->
        <a class="footer-logo" href="">
          <img width="122" height="64" src="../../assets/img/logo.svg" alt="" />
        </a>
        <!-- Footer Info -->
        <div class="footer-info">
          <p class="footer-info__text subtitle text-center">
            77.uz marketplace - это виртуальная платформа в Узбекистане, которая
            облегчает покупки и продажи, связывая продавцов с потенциальными
            клиентами.
          </p>
          <ul class="footer-info__list" id="footerList"></ul>
        </div>
      </div>
      <div class="development-company">
        <div class="development-company-wrapper container">
          <p class="development-company__text copyright">
            <strong>© 77.uz</strong>
            <span> 2023. Все права защищены</span>
          </p>

          <a
            href="https://uic.group/"
            target="_blank"
            class="development-company__link"
          >
            <span>
              <img src="../../assets/img/uic.group.svg" alt="" />
            </span>
            <img src="../../assets/img/uic.group.text.svg" alt="" />
          </a>
        </div>
      </div>
    </footer>

    <!-- ================== Javascript Links ================== -->
    <script src="./footer.js"></script>
  </body>
</html>
