.hidden {
  display: none;
}

.user-info {
  display: block;
}

.bread-crumb {
  margin: 0 0 32px 0;
  padding-top: 112px;
}

.profile-wrapper {
  display: flex;
  margin-bottom: 46px;
  gap: 24px;
}

.personal-wrapper {
  padding: 16px;
  border-radius: 12px;
  background: #fff;
}

.personal__info {
  margin-bottom: 16px;
  display: flex;
  padding: 16px;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  background: #fff;
}

.personal__img {
  width: 54px;
  height: 54px;
  border-radius: 80px;
  border: 1px solid #fff;
  backdrop-filter: blur(80px);
}

.personal__name {
  max-width: 148px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.personal__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);

  margin-bottom: 16px;
}

.personal__innerButton {
  width: 100%;
  padding: 10px 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  border: none;
  border-radius: 8px;
  background-color: var(--input-bg-color);
  cursor: pointer;
}

.btn-active {
  background-color: #fff;
  border: 1px solid rgba(17, 124, 245, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px 0px 24px 0px #117cf51a;
}

.btn-active .personal-info-list__item-icon {
  color: var(--primary-color);
}

.sign-out-btn {
  width: 100%;
  position: relative;
  z-index: 15;
}

.sign-out-btn__icon::before {
  position: absolute;
  z-index: 16;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/profile/exit-icon.svg);
  background-repeat: no-repeat;
  top: calc(50% - 10px);
  left: calc(50% - 52px);
}

.btn__icon {
  padding: 0 10px;
  font-size: 20px;
}

.ads-btn {
  display: flex;
  gap: 8px;
  max-width: 223px;
  font-size: 14px;
  text-align: left;
  color: #FFF;
}

.ads-btn__link{
  text-decoration: none;
  color: #FFF;
}

.ads-btn__plus{
font-size: 19px;
}



.profile-content {
  width: 100%;
}

.profile-content__summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.profile-content__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}

.profile__ads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.card__icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  color: white;
}
.card__img {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  padding: 20px;
  background: white;
  border-radius: 0 0 12px 12px;
}

.city {
  background: var(--gray-color);
  color: #63676c;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  border-radius: 6px;
  padding: 4px 8px;
}
.product_name {
  color: #16191d;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  margin: 16px 0 0 0;
}
.date {
  color: #8e9297;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  margin: 8px 0;
}

.phone__number {
  color: #8e9297;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
}

.product__cost {
  color: #16191d;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  margin: 16px 0 0 0;
}

.product__cost span {
  color: #388ff3;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
}

/*----------- Personal Details  --------- */
.personal-details__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.personal-details__box {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
}

.personal-details__wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
}

.personal-details__img {
  max-width: 92px;
  height: 92px;
  border-radius: 50%;
}

.personal-details__contents {
  width: 100%;
}

.personal-details__subtitle {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 16px;
}

.personal-details__link-wrapper {
  display: flex;
  gap: 16px;
}

.personal-details__phone-link {
  max-width: 205px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.personal-details__phone-link::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  background-image: url(../../assets/img/personal-details/phone-icon.svg);
  background-repeat: no-repeat;
  /* top: calc(50% - 15px); */
  left: 8px;
}

.personal-details__adress {
  position: relative;
  z-index: 1;
}

.personal-details__adress::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  background-image: url(../../assets/img/personal-details/location-icon.svg);
  background-repeat: no-repeat;
  top: calc(50% - 13px);
  left: 8px;
}

.info-link {
  padding: 8px 16px 8px 40px;
  border-radius: 8px;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  background-color: var(--gray-color);
  transition: all 0.3s ease-in-out;
}

.info-link:hover {
  filter: brightness(95%);
}

.personal-details__footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.personal-details__extraInfo {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.personal-details__extraInfo-tel {
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
}

/*----------- Personal Details  --------- */

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .profile-wrapper {
    flex-direction: column;
  }

  .sidebar {
    flex-basis: 100%;
  }

  .main {
    flex-basis: 100%;
  }

  .profile-content__summary {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .profile-content__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .ads-btn {
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .profile__ads {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 16px;
  }

  .card {
    border-radius: 12px;
  }

  .content-wrapper {
    padding: 12px;
  }

  .city {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .product_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 8px 0 0 0;
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4px 0 0 0;
  }

  .phone__number {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  .product__cost {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 8px 0 0 0;
  }

  .personal-details__title {
    display: none;
  }

  .personal-details__box {
    padding: 16px;
    border-radius: 8px;
  }

  .personal-details__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 0;
  }

  .personal-details__img {
    max-width: 54px;
    max-height: 54px;
  }

  .personal-details__subtitle {
    margin-bottom: 24px;
    text-align: center;
    line-height: 130%;
    font-size: 16px;
  }

  .personal-details__link-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .personal-details__phone-link {
    max-width: 100%;
  }

  .personal-details__footer {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .sidebar {
    max-width: 100%;
  }

  .personal-details__title {
    display: none;
  }

  .personal-details__box {
    padding: 16px;
    border-radius: 8px;
  }

  .personal-details__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 0;
  }

  .personal-details__img {
    max-width: 54px;
    max-height: 54px;
  }

  .personal-details__subtitle {
    margin-bottom: 24px;
    text-align: center;
    line-height: 130%;
    font-size: 16px;
  }

  .personal-details__link-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .personal-details__phone-link {
    max-width: 100%;
  }

  .personal-details__footer {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .prev-page__header {
    padding-top: 100px;
  }

  .profile-wrapper {
    padding-top: 32px;
  }
}

@media screen and (max-width: 426px) {
  .bread-crumb {
    display: none;
  }

  .profile-wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .sidebar {
    max-width: 100%;
  }

  .personal-info-list {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
  }

  .personal-wrapper .btn {
    display: none;
  }

  .personal__buttons {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .profile-content__summary {
    flex-direction: column;
    /* margin-bottom: 16px; */
  }

  .profile-content__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .ads-btn {
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .profile__ads {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 16px;
  }

  .card {
    border-radius: 12px;
  }

  .content-wrapper {
    padding: 8px;
  }

  .city {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .product_name {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 8px 0 0 0;
  }

  .date {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4px 0 0 0;
  }

  .phone__number {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
  .product__cost {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 8px 0 0 0;
  }
}
