<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Info</title>
    <link rel="stylesheet" href="addressInfo.css" />
  </head>
  <body>
    <main class="container">
      <div class="address-info">
        <div class="address-info__section">
          <h2 class="address-info__title">Местоположение</h2>
          <p class="address-info__devider"></p>
          <p class="address-info__text">
            <img src="../../assets/img/marker.svg" alt="Markerx" /> г.Ташкент,
            ул.Олмачи 1-й проезд 13 дом
          </p>
        </div>
        <img
          class="address-info__map"
          src="../../assets/img/Map.png"
          alt="map"
        />
      </div>
    </main>
  </body>
</html>
