<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./modal.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Modal Component</title>
  </head>
  <body>
    <div class="center">
      <button class="btn modal-btn">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header">
          <button class="close-btn">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <div class="modal-body modal-first">
          <h2 class="modal-title">Удалить объявление</h2>
          <h3 class="modal-subtitle">
            Вы точно хотите удалить объявление, все ваши данные о продукте будут
            потеряны
          </h3>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary">Отменить</button>
          <button class="btn btn-danger">Удалить</button>
        </div>
      </div>
    </div>

    <div class="center" id="exit-wrapper">
      <button class="btn modal-btn" id="delete">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header">
          <button class="close-btn" id="close">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <div class="modal-body modal-before">
          <h2 class="modal-title">Выход</h2>
          <h3 class="modal-subtitle">Вы точно хотите выйти из платформы</h3>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary">Отменить</button>
          <button class="btn btn-light-danger">Выход</button>
        </div>
      </div>
    </div>

    <div class="center" id="acceptance">
      <button class="btn modal-btn" id="accept">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header">
          <button class="close-btn" id="close-icon">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <div class="modal-body modal-third">
          <h2 class="modal-title">Ваша заявка принята!</h2>
          <h3 class="modal-subtitle modal-sub">
            Наши сотрудники свяжутся с вами в ближайшее время
          </h3>
        </div>
        <div class="footer third">
          <button class="btn third-btn">Спасибо</button>
        </div>
      </div>
    </div>

    <div class="center" id="forget-password">
      <button class="btn modal-btn" id="icon-close">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header">
          <button class="close-btn" id="btn-close">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <div class="modal-body modal-fourth">
          <h3 class="modal-subtitle">
            Забыли пароль? Для восстановления пароля обратитесь администратору
          </h3>
        </div>
        <div class="modal-footer fourth">
          <a class="fourth-btn btn" href="tel:998974504500">
            +998 97 450 45 00</a
          >
        </div>
      </div>
    </div>

    <div class="center" id="noinfo">
      <button class="btn modal-btn" id="noinfo-btn">Button</button>
      <span class="overlay"></span>
      <div class="modal modal-noinfo">
        <div class="modal-body modal-fifth">
          <h2 class="modal-title">Ваша заявка принята!</h2>
          <h3 class="modal-subtitle modal-sub">
            Наши сотрудники свяжутся с вами в ближайшее время
          </h3>
        </div>
      </div>
    </div>

    <div class="center" id="registration">
      <button class="btn modal-btn" id="registration-btn">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header modal-wrapper">
          <h2 class="modal-title">Добро пожаловать!</h2>
          <button class="close-btn close" id="registration-close-btn">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <h3 class="modal-subtitle modal-subtitlee">
          Войти в систему чтобы торговать в системе
        </h3>
        <form class="modal-body">
          <div class="form-group">
            <label class="label modal-label" for="log-in">Логин </label>
            <input
              class="input input__login"
              type="text"
              name="log-in"
              id="log-in"
              placeholder="Введите логин"
            />
          </div>
          <!-- Password -->
          <div class="form-group password-modal">
            <label class="label modal-label" for="password">Пароль </label>
            <div class="password-input-wrapper">
              <input
                class="input input-password"
                type="password"
                name="password"
                id="password"
                placeholder="Введите пароль"
              />
              <div class="closed-eye"></div>
              <a href="#" class="forgot-password">Забыли пароль?</a>
            </div>
          </div>
        </form>
        <div class="modal-footer fifth">
          <button class="btn third-btn">Войти</button>
          <p class="modal-text">Хотите стать продавцом?</p>
          <button class="btn btn-outline">Подать заявку</button>
        </div>
      </div>
    </div>

    <div class="center" id="application">
      <button class="btn modal-btn" id="application-btn">Button</button>
      <span class="overlay"></span>
      <div class="modal">
        <div class="modal-header modal-wrapper">
          <h2 class="modal-title">Подать заявку</h2>
          <button class="close-btn close" id="application-close-btn">
            <img
              class="close-img"
              src="../../assets/img/modal-img/close-icon.svg"
              alt="Close icon"
              width="24"
              height="24"
            />
          </button>
        </div>
        <h3 class="modal-subtitle modal-subtitlee">
          Войти в систему чтобы торговать в системе
        </h3>
        <form class="modal-body">
          <!-- Name -->
          <div class="form-group">
            <label class="label modal-label" for="fullName">Ф.И.О. </label>
            <input
              class="input input_text"
              type="text"
              name="name"
              id="fullName"
              placeholder="Введите вашу Ф.И.О."
            />
          </div>
          <!-- Product name -->
          <div class="form-group">
            <label class="label modal-label" for="product-name"
              >Название продукта
            </label>
            <input
              class="input input__product-name"
              type="text"
              name="product-name"
              id="product-name"
              placeholder="Введите название продукта"
            />
          </div>
          <!-- Phone number -->
          <div class="form-group">
            <label class="label modal-label" for="phone-number"
              >Телефон номер
            </label>
            <div class="p-input-group">
              <span class="country-code">+998</span>
              <input
                class="input input_tel"
                type="tel"
                name="phone-number"
                id="phone-number"
                required
                inputmode="numeric"
                placeholder="  (__) ___-__-__"
              />
            </div>
          </div>
        </form>
        <div class="modal-footer seven">
          <button class="btn third-btn">Продолжить</button>
          <p class="seven-text">Если вы продавец, войдите на платформу</p>
          <button class="btn btn-outline">Войти</button>
        </div>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./modal.js"></script>
  </body>
</html>
