.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  border-radius: 12px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.modal-body__img {
  width: 120px;
  height: 108px;
}

.modal-body__title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.modal-body__subtitle {
  width: 338px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.modal-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-footer .btn {
  width: 100%;
}
