.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden !important;
  border-radius: 12px;
  border: 1px solid var(--White, #fff);
  background: var(--White, #fff);
  box-shadow: 0px 4px 15px 0px rgba(56, 143, 243, 0.12);
}
.card:hover .card__title {
  color: var(--primary-color);
}
.favorite__product-button svg path.active {
  fill: red;
}
.card__title {
  overflow: hidden;
  color: var(--Black, #16191d);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  padding-top: 16px;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.card__img {
  position: relative;
  display: flex;
}
.card__product-date {
  color: var(--greys-grey-1, #8e9297);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  padding-top: 8px;
}
.card__phone {
  padding-top: 8px;
  overflow: hidden;
  color: var(--greys-grey-1, #8e9297);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
}
.card__cost {
  color: var(--Black, #16191d);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  padding-top: 16px;
}
.favorite__product-button {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.favorite__product-button:active {
  transform: scale(1.15);
}
.card__icon-like {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #fff;
}

.card__img img {
  width: 100%;
}

.card-content {
  padding: 20px;
}
.card__currency {
  color: var(--primary-color);
}

.card__address {
  color: var(--greys-grey-0, #63676c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 6px;
  background: var(--greys-grey-4, #eaedf0);
}

@media screen and (max-width: 768px) {
  .card__address {
    font-size: 12px;
  }
  .card__cost {
    font-size: 16px;
  }
  .card__title {
    font-size: 14px;
  }
  .card__product-date {
    font-size: 10px;
  }
  .card__phone {
    font-size: 12px;
  }
  .card__address {
    font-size: 10px;
  }
  .card__currency {
    font-size: 16px;
  }
  .card-content {
    padding:8px;
  }
}
