:root{
  --label-color: #63676C;
  --application_ff:"Inter", sans-serif;
  --placeholder-color:#B8BBBD;
}
*{
  box-sizing: border-box;
  outline: inherit;
}
html, body{
  background-color: #fff;
  height: 100%;
  box-sizing: inherit;
}

.log-in-form{
  margin: 0 20px;
  font-family:var(--application_ff) ;
  font-size: 14px;
  line-height: 20px;
}
.input-card{
  margin-bottom: 16px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}
.label{
  color: var(--label-color);
font-weight: 500;
display: inline-block;
margin-bottom: 0px;
}
.input{
display: block;
align-items: center;
align-self: stretch;
border: none;
border-radius: 8px;
background: #F0F3F7;
margin-top: 8px;
color:  #16191D;
font-weight: 400;
padding: 12px 184px 12px 12px;

}
.input:focus{
  border: 1px solid #388FF3;
  background: #FFF;
}
/* .input.input-text{
} */
.input::placeholder{
  color: var(--placeholder-color);
  font-weight: 400;
  padding-right: 182px;
}
.input__product-name{
display: flex;
align-items: center;
align-self: stretch;
padding-left: 12px;
}
.input__product-name::placeholder{
  display: flex;
  align-items: center;
  align-self: stretch;
}
.input-card .closed-eye {
  position: absolute;
  display: block;
  background-image: url(/assets/img/eye-closed.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 35px;
  left:320px;
  width: 24px;
  height: 24px;
}
.input-card .closed-eye.opened-eye{
  background-image: url(/assets/img/eye-open-4.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 24px;
height: 24px;
}
.input-card .forgot-password{
  position: absolute;
  top: 70px;
  color:  #388FF3;
text-align: right;
font-size: 12px;
font-weight: 400;
line-height: 130%;
text-decoration: none;
}

.error{
border: 1px solid  #E93C47;
background:#F0F3F7;
border-radius: 8px;
}
.phone-num-box{
  display: flex;
  align-items: center;
}

@media only screen and
 (max-width:500px) {
  .log-in-form{
    width: 100%;
padding: 10px 20px 16px 0px;
  }
  .input-card{
    padding-right:10px ;
  }
.input{
  padding: 12px 150px 12px 12px;
}
.input-card .closed-eye {
  left:290px;
 }
}