:root {
  --label-color: #63676c;
  --application_ff: 'Inter', sans-serif;
  --placeholder-color: #b8bbbd;
}

* {
  outline: inherit;
}

html,
body {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

/* FORM */
.form {
  font-family: var(--application_ff);
  font-size: 14px;
  line-height: 20px;
  margin: 30px auto;
}

/* FORM GROUP */
.form-group {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* LABEL */
.label {
  color: var(--label-color);
  font-weight: 500;
  display: inline-block;
}

/* INPUT */
.input {
  display: flex;
  align-items: center;
  align-self: stretch;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--input-bg-color);
  color: var(--black-color);
  font-weight: 400;
  padding: 12px;
  flex-direction: column;
  position: relative;
  width: 100%;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-color: var(--primary-color);
  background: #fff;
}

.input::placeholder {
  color: var(--placeholder-color);
  font-weight: 400;
}

.input__product-name {
  display: flex;
  align-items: center;
  align-self: stretch;
}

/* PASSWORD INPUT GROUP */
.password-input-group {
  position: relative;
}

/* INPUT PASSWORD */
.input-password {
  padding-right: 34px;
}

/* PASSWORD OEN_EYE */
.password-input-group .open-eye {
  background: url(/assets/img/form/input/open-eye.svg) no-repeat center/cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 20px;
  transform: translate(50%, 37%);
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
}

/* CLOSED_EYE */
.password-input-group .open-eye.closed-eye {
  background: url(/assets/img/form/input/closed-eye.svg) no-repeat center;
  cursor: pointer;
}

.password-input-group .forgot-password {
  position: absolute;
  top: 8px;
  left: 5px;
  transform: translateY(270%);
  color: var(--primary-color);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  cursor: pointer;
}

.phone-input-group {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.input_tel {
  padding-left: 45px;
  font-size: 14px;
}

.phone-input-group .country-code {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, 57%);
  color: var(--black-color);
  z-index: 1;
  font-size: 14px;
}

/* PRICE */
.price-input-group {
  position: relative;
  display: flex;
}

.input_price {
  padding-right: 80px;
}

.currency-wrapper {
  position: absolute;
  top: 4px;
  right: 4px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: rgba(214, 214, 214, 0.5);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: fit-content;
}

.currency-card {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.currency-card:hover {
  opacity: 0.8;
}

.current-currency {
  color: var(--black-color);
}

.currency-icon {
  transform: rotate(0deg);
  transition: all 0.3s ease;
  font-size: 20px;
}

.currency-icon.rotated {
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}

.currency-list {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 45px;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background: rgba(214, 214, 214, 0.5);
  border-radius: 6px;
  transition: all 0.5s ease;
}

.currency-list.active {
  display: flex;
}

.currency__option {
  list-style: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: color 0.3s ease;
  position: relative;
  padding: 3px;
}

.currency__option:hover {
  color: var(--primary-color);
  background-color: #b8bbbd;
}

.currency__option:first-child:hover {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.currency__option:last-child:hover {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.currency__option.selected {
  color: var(--primary-color);
  pointer-events: none;
  opacity: 0.6;
  cursor: none;
}

.error {
  border: 1px solid #e93c47;
  background: #f0f3f7;
  border-radius: 8px;
}

@media only screen and (max-width: 500px) {
  .form {
    width: 100%;
  }
}
