<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./imageUploader.css" />
    <link rel="stylesheet" href="../modal/modal.css" />
    <link rel="stylesheet" href="../buttons/buttons.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Document</title>
  </head>

  <body>
    <!-- Dark Drag modal window  -->
    <div id="dropbox" class="dropbox">
      <div id="dropbox__container" class="dropbox__container">
        <div class="dropbox__float">
          <img
            class="dropbox__float-image"
            draggable="false"
            src="../../assets/img/drop-image.svg"
            alt="dropbox image"
          />
          <p class="dropbox__float-title">Перетащите изображение</p>
        </div>
      </div>
    </div>

    <!-- Sortable List  -->
    <div class="container">
      <div class="wrapper">
        <div class="gallery" id="gallery">
          <div id="gallery-wrapper" class="gallery-box"></div>

          <div class="modal" id="delete-layer">
            <div class="modal-header">
              <button class="close-btn" onclick="closeModal('delete-layer')">
                <i class="icon-x"></i>
              </button>
            </div>
            <div class="modal-body">
              <img
                class="modal-body__img"
                src="../../assets/img/modal-img/trash.svg"
                alt="trash"
                width="120"
                height="108"
              />
              <h2 class="modal-body__title">Удалить объявление</h2>
              <p class="modal-body__subtitle">
                Вы точно хотите удалить объявление, все ваши данные о продукте
                будут потеряны
              </p>
            </div>
            <div class="modal-footer">
              <button
                onclick="closeModal('delete-layer') "
                class="btn btn-secondary"
              >
                Отменить
              </button>
              <button class="btn btn-danger">Удалить</button>
            </div>
          </div>
          <div class="drop-image__item">
            <div class="gallery__item-empty" draggable="false">
              <img src="../../assets/img/image-add.svg" alt="add image" />
              <h3>Перетащите изображение сюда</h3>
              <span
                >Перетащите свое изображение сюда или
                <label for="files" class="choose-text"
                  >выберите

                  <input multiple id="files" type="file" accept="image/*" />
                </label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
    <!-- ================== Javascript Links ================== -->
    <script src="imageUploader.js" defer></script>
    <script src="../modal/modal.js"></script>
  </body>
</html>
