<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Product</title>
    <link rel="stylesheet" href="deleteProduct.css" />
  </head>
  <body>
    <div class="delete__product-modal">
      <div class="delete__product-content">
        <p class="delete__product-close">X</p>
        <img
          class="delete__product-icon"
          src="../../assets/img/Trash.svg"
          alt="Trash"
        />
        <h2 class="delete__product-title">Удалить объявление</h2>
        <p class="delete__product-message">
          Вы точно хотите удалить объявление, все ваши данные о продукте будут
          потеряны
        </p>
        <div class="delete__product-btns">
          <button>Отменить</button>
          <button>Удалить</button>
        </div>
      </div>
    </div>
  </body>
</html>
