<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./tab.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Tabs Component</title>
  </head>

  <body>
    <div class="container">
      <div class="switches-container">
        <input
          type="radio"
          id="switchMonthly"
          name="switchPlan"
          value="Monthly"
          checked="checked"
        />
        <input
          type="radio"
          id="switchYearly"
          name="switchPlan"
          value="Yearly"
        />
        <label for="switchMonthly">Русский</label>
        <label for="switchYearly">English</label>
        <div class="switch-wrapper">
          <div class="switch">
            <div>Русский</div>
            <div>English</div>
          </div>
        </div>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./tab.js"></script>
  </body>
</html>
