<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./tab.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Tabs Component</title>
  </head>

  <body>
    <div class="container">
      <div class="switches-container">
        <span class="language-switcher__active"></span>
        <label class="language-switcher russian">
          <input class="language-switcher__input" type="radio" language-id="russian" name="language" value="russian" checked>
          <span class="language-switcher__label">Russian</span>
        </label>
        <label class="language-switcher english">
          <input class="language-switcher__input" type="radio" language-id="english" name="language" value="english">
          <span class="language-switcher__label">English</span>
        </label>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./tab.js"></script>
  </body>
</html>
