<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ================== Google Fonts links ================== -->

    <!-- ================== Css links ================== -->

    <link rel="stylesheet" href="./select.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />

    <!-- ================== Website Title ================== -->
    <title>Select Component</title>
  </head>

  <body>
    <div class="select container">
      <label class="select-label" for="">Адресс</label>

      <div class="select-menu" id="">
        <div class="select-btn">
          <span class="select-menu__context">Выберите свой адрес</span>

          <span>
            <img
              class="select-menu__icon"
              src="../../../assets/img/icon-arrow-down.svg"
              alt="chevron-up icon"
              width="24"
              height="24"
            />
          </span>
        </div>

        <ul class="options">
          
        </ul>
      </div>
    </div>

    <!-- ================== Javascript Links ================== -->
    <script src="./select.js"></script>
  </body>
</html>
