::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #d5d8db;
  border-radius: 8px;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 4;
}

.select-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--placeholder-color);
}

.select-menu .select-btn {
  display: flex;
  background-color: var(--input-bg-color);
  padding: 10px 10px 10px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.select-menu__icon {
  transition: 0.3s ease-in-out;
}

.select-menu__context {
  color: var(--black-color);
}

/* Change transform as you want */

.select-menu.active .select-btn .select-menu__icon {
  transform: rotate(-90deg);
}

.select-menu .options {
  padding: 0;
  max-height: 312px;
  overflow-y: auto;
  margin-top: 8px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 28px 0px rgba(23, 24, 26, 0.2);
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}

.select-menu.active .options {
  display: block;
  overflow-y: scroll;
  height: 200px;
}

.options .option {
  display: flex;
  cursor: pointer;
  padding: 16px;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray-color);
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 15;
  pointer-events: all;
  transition: 0.2s ease-in-out;
}

.option.selected-option {
  cursor: not-allowed;
  background-color: #dad9d9;
  pointer-events: none;
}

.options .option:hover {
  background: #f2f2f2;
}

.option .option-text {
  font-size: 18px;
  color: var(--black-color);
}
